$scheme-name: "fmr";
$base-color: #236151;
$icon-color: #fff;
$highlight-color: #ffffff;
$notification-color: #fab526;
$button-color: #1c4f42;

$menu-submenu-text: #e4e4e4;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #19463b;

@use "../_admin.scss" as admin;
