.filter-bar {
    margin-bottom: 1rem;
    
    .filter-row {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        align-items: center;
    }
    
    .filter-bar-group {
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: 600;
        }
        
        select {
            max-width: 180px;
        }
        
        input[type="date"] {
            min-width: 150px;
        }
    }
    
    .filter-actions {
        align-self: flex-end;
        margin-left: auto;
        
        .button {
            margin-right: 10px;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
