body.login {
    background-color: #f6f6f6;

    a {
        color: #000000 !important;
        text-decoration: underline !important;
        text-decoration-color: var(--wp-admin-color-secondary) !important;
        text-underline-offset: 3px !important;

        &:hover {
            text-underline-offset: 4px !important;
        }
    }

    #login {
        width: 400px !important;
    }

    .login h1.admin-email__heading {
        color: #191919;
    }

    #login_error,
    .message {
        border-radius: 10px;
    }

    .button {
        color: var(--wp-admin-color-secondary);
        border-color: var(--wp-admin-color-secondary);

        &:hover {
            border-color: var(--wp-admin-color-secondary);
            color: var(--wp-admin-color-secondary);
        }
    }

    .button-primary {
        background: var(--wp-admin-color-primary) !important;
        color: #fff;
        border: 0 !important;
        border-color: var(--wp-admin-color-primary);

        &:hover {
            border-color: var(--wp-admin-color-primary);
        }
    }

    #loginform {
        a {
            color: var(--wp-admin-color-primary) !important;
        }

        .input {
            &:focus {
                border-color: var(--wp-admin-color-primary);
                box-shadow: 0 0 0 1px var(--wp-admin-color-primary);
            }
        }
    }

    #loginform,
    #lostpasswordform,
    .admin-email-confirm-form {
        border-radius: 10px;
        border: 0 !important;
    }

    .login #nav a,
    .login #backtoblog a,
    .dashicons.dashicons-translation {
        color: #000 !important;
    }

    #login h1 a,
    .login h1 a {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;
        margin-bottom: 30px;
    }
}
