@use 'sass:color';

// assign default value to all undefined variables

$scheme-name: "fmr" !default;

// core variables

$text-color: #fff !default;
$base-color: var(--wp-admin-color-primary) !default;
$icon-color: color-mix(in srgb, $base-color 5%, white 95%) !default;
$highlight-color: color-mix(in srgb, $base-color 93%, black 15%) !default;
$notification-color: var(--wp-admin-color-tertiary) !default;


// global

$body-background: #fbfbfb !default;

$link: color-mix(in srgb, $highlight-color 90%, white 10%) !default;
$link-focus: $highlight-color !default;

$button-color: var(--wp-admin-color-secondary) !default;
$button-text-color: $text-color !default;

$form-checked: #7e8993 !default;

// admin menu & admin-bar

$menu-text: $text-color !default;
$menu-icon: $icon-color !default;
$menu-background: $base-color !default;

$menu-highlight-text: $text-color !default;
$menu-highlight-icon: $text-color !default;
$menu-highlight-background: $highlight-color !default;

$menu-current-text: $menu-highlight-text !default;
$menu-current-icon: $menu-highlight-icon !default;
$menu-current-background: $menu-highlight-background !default;

$menu-submenu-text: color-mix(in srgb, $base-color 30%, $text-color 70%) !default;
$menu-submenu-background: color-mix(in srgb, $base-color 93%, black 7%) !default;
$menu-submenu-background-alt: color-mix(in srgb, $menu-background 93%, white 7%) !default;

$menu-submenu-focus-text: #ffffff !default;
$menu-submenu-current-text: $text-color !default;

$menu-bubble-text: $text-color !default;
$menu-bubble-background: $notification-color !default;
$menu-bubble-current-text: $text-color !default;
$menu-bubble-current-background: $menu-submenu-background !default;

$menu-collapse-text: $menu-icon !default;
$menu-collapse-icon: $menu-icon !default;
$menu-collapse-focus-text: $text-color !default;
$menu-collapse-focus-icon: $menu-highlight-icon !default;

$adminbar-avatar-frame: color-mix(in srgb, $menu-background 93%, white 7%) !default;
$adminbar-input-background: color-mix(in srgb, $menu-background 93%, white 7%) !default;

$adminbar-recovery-exit-text: $menu-bubble-text !default;
$adminbar-recovery-exit-background: $menu-bubble-background !default;
$adminbar-recovery-exit-background-alt: color-mix(in srgb, $adminbar-recovery-exit-background 90%, black 10%) !default;

$menu-customizer-text: color-mix(in srgb, $base-color 40%, $text-color 60%) !default;

$low-contrast-theme: "false" !default;
